/* Global reset */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Main container */
.app-container {
  padding: 15px;
  max-width: 100%;
  box-sizing: border-box;
}



/* Inputs & buttons responsive */
input, select, button {
  width: auto;
  max-width: 100%;
  box-sizing: border-box;
}


